form{
    background-color:plum ;
    border: 2px solid plum;
    padding: 20px;
    border-radius: 13px;
    width: 500px;
    margin: 300px;
    height: auto;
   
}

.sign{
    display: flex;
    align-items: center;
    gap: 100px;
}

.al{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}



